

    <div class="container">
        <div class="row">
            <main class="col-md-12">

                <!-- Start your code here -->
            
                <div class="jumbotron mt-4">
                    <h1 class="display-4">Welcome to my website!</h1><!--title-->
                    <p class="lead">I will be demonstrating HTML5 principles and techniques, Routing in Express, getting data from json files .</p>
                    <hr class="my-4">
                    <p>This site consists of 3 static views (Home, About, HTML Demo) and 5 routes that supply data, including:</p>
                    <ul>
                        <!--links -->
                        <li><a href="/students">All Students</a></li>
                        <li><a href="/students?course=3">Students by Course</a></li>
                        <li><a href="/student/2">A Student By Student Number</a></li>
                        <li><a href="/tas">All Teaching Assistants</a></li>
                        <li><a href="/courses">All Courses</a></li>
                    </ul>
                </div>
                <!-- short paragraph-->
                <div class="mt-4">
                    <h2>Introduction to HTML5</h2>
                    <p>This site utilizes HTML5: a  language used for structuring and presenting content on the World Wide Web. this is soo cool with lorem ipsu lmaoo .</p>
                </div>
                <!--students list button-->
                <div class="row mt-4">
                    <div class="col-md-4">
                        <h2>Students</h2>
                        <p> list of all students enrolled in the course.</p>
                        <a class="btn btn-secondary" href="/students" role="button">View Students &raquo;</a>
                    </div>
                     <!-- Teaching assistant button-->
                    <div class="col-md-4">
                        <h2>Teaching Assistants</h2>
                        <p>list of all teaching assistants for the course.</p>
                        <a class="btn btn-secondary" href="/tas" role="button">View TAs &raquo;</a>
                    </div>
                     <!-- Courses button-->
                    <div class="col-md-4">
                        <h2>Courses</h2>
                        <p>list of all courses offered in the department.</p>
                        <a class="btn btn-secondary" href="/courses" role="button">View Courses &raquo;</a>
                    </div>
                </div>
                <!-- End your code here -->

            </main>
        </div>
    </div>

   
